p{
	animation-name: hello;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
}

@keyframes hello{
	0%{
		color:yellow;
		font-size: 20px;
	}
	20%{
		color:orange;
		font-size: 30px;
	}
	40%{
		color:red;
		font-size: 40px;
	}
	60%{
		color:pink;
		font-size: 50px;
	}
	80%{
		color:blue;
		font-size: 40px;
	}
	100%{
		color:green;
		font-size: 20px
	}
}